@font-face {
  font-family: "BYekan";
  src: url("../font//BYekan.woff");
  src: url("../font//BYekan.woff2");
  src: url("../font//BYekan.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "BYekan", sans-serif !important;
  font-weight: 400;
}
