@font-face {
  font-family: "BYekan";
  src: url("../font//BYekan.woff");
  src: url("../font//BYekan.woff2");
  src: url("../font//BYekan.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "BYekan", sans-serif !important;
  direction: rtl;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background-color: gray;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(200, 200, 200);
  border-radius: 12px;
}
