.swiper_offer {
  display: flex !important;
}

@media screen and (max-width: 768px) {
  .swiper_offer {
    height: 30rem !important;
  }
  .swiper-button-next {
    display: none !important;
  }
  .swiper-button-prev {
    display: none !important;
  }
}
